{{- if .SystemPrompt }}
{{ .SystemPrompt }}
{{- end }}
{{- if .ProactiveMemory }}

{{ .ProactiveMemory }}
{{- end }}
{{- if .Identity }}

{{ .Identity }}
{{- end }}
{{- if .ToolHint }}

{{ .ToolHint }}
{{- end }}
